<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>Добавить нового пользователя</title>
</head>
<body>
<h1>Добавить нового пользователя</h1>
<form action="#" th:action="@{/add}" th:object="${users}" method="post">
    <p>Имя: <input type="text" th:field="*{name}" th:charset="utf-8"/></p>
    <p>Фамилия: <input type="text" th:field="*{lastName}"/></p>
    <p>Возраст: <input type="text" th:field="*{age}" th:charset="utf-8"/></p>
    <p><input type="submit" value="Добавить"/></p>
</form>
</body>
</html>

<!--
 1.      <!DOCTYPE html>:
                     это декларация типа документа (Document Type Declaration) в HTML, которая сообщает браузеру о
                     версии HTML, предназначенной для отображения веб-страницы, позволяя браузеру правильно
                     интерпретировать содержимое документа.

         <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">:
                     а) html - указывает тип кода данной строки;
                     б) xmlns - это атрибут содержащий в себе значение ресурса в виде ссылки;
                     в) "http://www.w3.org/1999/xhtml" - определяет пространство имен(ресурс) для стандарта XHTML,
                                                         указывающее на соответствие данного документа этому стандарту;
                     г) xmlns:th -  это атрибут, значение которого устанавливает префикс "th" через символ ":",
                                    используемый для определения пространства имен в XML и XHTML документах. В данном
                                    случае, префикс "th" ассоциируется с пространством имен "Thymeleaf", указанным в
                                    значении адресной строки.
                     д) "http://www.thymeleaf.org" - определяет пространство имен(ресурс) "Thymeleaf" для стандарта
                                                     XHTML, связанное с префиксом "th";

 2.      <html lang="en">:
                     указание lang="en" в элементе <html>, указывающий на начало документа, который создаёт
                     веб-страницу, содержащую текст на английском языке, для того что бы правильно интерпретировать этот
                     язык программами, обрабатывающими HTML-документ.

 3.      <head>
             <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
             <title>Добавить нового пользователя</title>
         </head>
                      В данном теге "<head>", код формирует в теге "<title>" заголовок в html документе, где,
                                а) meta - это тип данных строки, используется для предоставления информации о кодировке
                                          символов, которая используется на веб-странице.
                                б) http-equiv='Content-Type' - этот атрибут указывает браузеру на то, что методанные в
                                          данной сроке относятся к типу содержимого.
                                в) content='text/html; charset=UTF-8' - а этот атрибут в свою очередь устанавливает этот
                                          тип содержимого как HTML с указанием кодировки символов UTF-8.
                                г) <title> - Этот элемент устанавливает заголовок веб-страницы, который отображается в
                                             заголовке окна браузера или во вкладке страницы. В данном случае, заголовок
                                             страницы установлен как "Добавить нового пользователя".

 4.      <body>
         <h1>Добавить нового пользователя</h1>
         <form action="#" th:action="@{/add}" th:object="${users}" method="post">
               <p>Имя: <input type="text" th:field="*{name}" th:charset="utf-8"/></p>
               <p>Фамилия: <input type="text" th:field="*{lastName}"/></p>
               <p>Возраст: <input type="text" th:field="*{age}" th:charset="utf-8"/></p>
               <p><input type="submit" value="Добавить"/></p>
         </form>
         </body>

         Данный код представляет форму для добавления нового пользователя:

                    а) <body> - Это открывающий тег для раздела документа, который содержит основное содержимое

                                веб-страницы. Все видимые элементы веб-страницы будут находиться внутри этого тега.

                    б) <h1>Добавить нового пользователя</h1> - Это заголовок первого уровня, который отображает текст
                                "Добавить нового пользователя". Используется для выделения основного заголовка на
                                странице.

                    в) <form action="#" th:action="@{/add}" th:object="${users}" method="post"> - Это открывающий тег формы.
                                - action="#" указывает, что форма будет отправлять данные на текущую страницу.
                                - th:action="@{/add}" указывает на действие, которое будет выполнено при отправке  формы.
                                - th:object="${users}" указывает на объект, который будет использоваться для передачи
                                  данных формы.
                                - method="post" указывает на то, что данные формы будут отправляться методом POST.

                    г) <p>Имя: <input type="text" th:field="*{name}" th:charset="utf-8"/></p> - Это строка для ввода имени
                                  пользователя.
                                - <input> элемент типа text позволяет пользователю вводить текст.
                                - th:field="*{name}" Атрибут связывает это поле ввода с объектом users и его свойством name.
                                - th:charset="utf-8" Атрибут указывает на кодировку символов UTF-8.

                    д) <p>Фамилия: <input type="text" th:field="*{lastName}"/></p> - Аналогично предыдущему полю, это
                                  поле для ввода фамилии пользователя, связанное с объектом users и его свойством lastName.

                    е) <p>Возраст: <input type="text" th:field="*{age}" th:charset="utf-8"/></p> - Поле для ввода возраста
                                  пользователя, также связанное с объектом users и его свойством age.
                                - th:charset="utf-8" Атрибут указывает на кодировку символов UTF-8.

                    ё) <p><input type="submit" value="Добавить"/></p> - Кнопка отправки формы. Элемент <input> типа
                                  submit отправит данные формы на сервер при нажатии.

         "th" - это выражение в атрибутах нашего кода играет роль префикса, который означает ассоциацию с Thymeleaf.
                Атрибуты использующие префикс "th" устанавливает связь атрибута  с Thymeleaf, и указывает на то, что
                данное свойство должно быть обработано с помощью Thymeleaf. Т.е при создании веб-страницы, Thymeleaf
                используются для определения дополнительной логики, привязки данных и управления процессом отображения
                на веб-странице.

         "Thymeleaf" - это механизм шаблонов Java, который используется для обработки и создания HTML, XML, JavaScript,
                       CSS и текстовых файлов. Применяется в веб-разработке для создания динамических веб-страниц.
                       Thymeleaf обладает интеграцией с фреймворком Spring и широко используется в приложениях,
                       основанных на Spring MVC. Библиотека Thymeleaf предоставляет мощные средства для управления
                       данными и их отображения на веб-страницах, а также для управления логикой отображения.
                       Thymeleaf обеспечивает возможность создания шаблонов, интеграции данных в HTML-страницы,
                       выполнения циклов и условных операций прямо в шаблонах, что делает его удобным инструментом для
                       разработки динамических веб-приложений.

         Динамическое свойство веб-приложений - это контент, отображаемый на веб-странице, может изменяться в реальном
                       времени в зависимости от различных условий, таких как ввод пользователя, данные из базы данных,
                       состояние сессии и другие факторы. Это позволяет создавать интерактивные и адаптивные
                       пользовательские интерфейсы, которые могут динамически реагировать на изменяющиеся условия.

                       В контексте использования Thymeleaf с Spring и Spring MVC, динамическое свойство заключается в
                       возможности интеграции данных и логики отображения прямо в HTML-шаблоны. Это позволяет создавать
                       динамические веб-страницы, где содержимое может быть модифицировано и обновлено без необходимости
                       перезагрузки всей страницы. Такие действия обычно выполняются на стороне сервера с использованием
                       Java и Spring, что обеспечивает динамическое отображение данных пользователям веб-приложений.

         Разница между Spring и Spring MVC?
                       Spring - это обширный фреймворк Java, используемый для создания различных видов приложений,
                       включая веб-приложения. Он предоставляет множество функций, таких как обеспечение инверсии
                       управления (IoC), внедрение зависимостей (DI), управление транзакциями, обработка исключений и
                       многие другие.

                       С другой стороны, Spring MVC - это часть Spring Framework, специально предназначенная для
                       создания веб-приложений. Он реализует паттерн проектирования "Модель-Представление-Контроллер"
                       (MVC) и обеспечивает инструменты для обработки HTTP-запросов, управления представлениями и
                       обеспечения взаимодействия с моделью данных.

                       Таким образом, разница между Spring и Spring MVC заключается в том, что Spring представляет
                       собой полноценный фреймворк, который может использоваться для общего программирования приложений
                       любого типа, в то время как Spring MVC - это модуль, специально ориентированный на создание
                       веб-приложений и обработку веб-запросов в соответствии с шаблоном MVC.





                     -->
